{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}


{% block content %}
    <div class="container">
        <h1>Home</h1>
        <hr>
        
        {% if questions %}
    <ul>
    {% for question in questions %}
        <li><h4><a href="{% url 'polls:question' question.pk %}">{{question.question_text}}</a> by {{question.created_by.username.title}} | No of Votes: {{question.voted.all | length}}</h4></li>
        <br>
        {% endfor %}
    </ul>
        {% else %}
        <h2>No Questions</h2>
        {% endif %}
    </div>
{% endblock content %}
    